/* General */

@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url(../material-design-icons-3.0.1/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
	src: local('Material Icons'),
	local('MaterialIcons-Regular'),
	url(../material-design-icons-3.0.1/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
	url(../material-design-icons-3.0.1/iconfont/MaterialIcons-Regular.woff) format('woff'),
	url(../material-design-icons-3.0.1/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

@font-face {
font-family:"tisa-bold";
src:url("https://use.typekit.net/af/d8acce/00000000000000003b9b0789/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/d8acce/00000000000000003b9b0789/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/d8acce/00000000000000003b9b0789/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-style:normal;font-weight:700;
}

@font-face {
font-family:"tisa-bold-italic";
src:url("https://use.typekit.net/af/52b368/00000000000000003b9b0788/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/52b368/00000000000000003b9b0788/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/52b368/00000000000000003b9b0788/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
font-style:italic;font-weight:700;
}

@font-face {
font-family:"tisa-italic";
src:url("https://use.typekit.net/af/40f63c/00000000000000003b9b0784/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/40f63c/00000000000000003b9b0784/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/40f63c/00000000000000003b9b0784/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
font-style:italic;font-weight:400;
}

@font-face {
font-family:"tisa";
src:url("https://use.typekit.net/af/cea006/00000000000000003b9b0785/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/cea006/00000000000000003b9b0785/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/cea006/00000000000000003b9b0785/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-style:normal;font-weight:400;
}

@font-face {
font-family:"tisa-sans-bold";
src:url("https://use.typekit.net/af/0bca4b/00000000000000003b9b0796/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/0bca4b/00000000000000003b9b0796/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/0bca4b/00000000000000003b9b0796/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-style:normal;font-weight:700;
}

@font-face {
font-family:"tisa-sans-bold-italic";
src:url("https://use.typekit.net/af/4e35c9/00000000000000003b9b0797/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/4e35c9/00000000000000003b9b0797/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/4e35c9/00000000000000003b9b0797/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
font-style:italic;font-weight:700;
}

@font-face {
font-family:"tisa-sans-italic";
src:url("https://use.typekit.net/af/40013e/00000000000000003b9b0793/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/40013e/00000000000000003b9b0793/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/40013e/00000000000000003b9b0793/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
font-style:italic;font-weight:400;
}

@font-face {
font-family:"tisa-sans";
src:url("https://use.typekit.net/af/382b90/00000000000000003b9b0792/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/382b90/00000000000000003b9b0792/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/382b90/00000000000000003b9b0792/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-style:normal;font-weight:400;
}

@media only screen and (min-width: 993px) {
	.container.large {
		width: 90%;
	}
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;  /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;

	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;

	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;

	/* Support for IE. */
	font-feature-settings: 'liga';
}

body{
	font-family: "tisa-sans", sans-serif;
	padding-top: 50px;
}

iframe {
	border:none;
}

h1, h2, h3, h4, h5{
	color: #db5462;
}

h1{
	font-size: 2.5em;
}

h2{
	font-size: 2em;
	margin-top: 0!important;
}

h3{
	font-size:1.5em;
}

h4{
	font-size : 1em;
}

/* - Classes - */

.uppercase{
	text-transform : uppercase;
}

.cursor{
	cursor:pointer;
}

.card.card-light {
	padding-top: 0px;
	padding-bottom: 0px;
}

.number {
	font-size: 2.6em;
}

.fond{
	background: rgba(255,255,255,0.7);
	border-radius: 8px;
	padding: 10px;
	margin: auto;
}

.cursor, .pointer{
	cursor:pointer;
}

.inline{
	display:inline-block;
}

.parallax-container {
	height: 275px;
	margin-bottom: 20px;
}

.medium{
	width: 750px;
}

.large{
	width:1024px;
}

/*.material-icons{*/
	/*font-size:90px;*/
/*}*/
/* Other */

div .cut {
	color:white;
	height:80px;
	background:#db5462;
	padding : 10px;
	text-align: center;
}


.cartoucheContent, .cartouche{
	border:1px solid #db5462;
	border-radius: 3px;
	padding : 10px;
	margin: 5 15px;
	margin-bottom: 10px;
}


#index-banner{
	height: 400px;
	font-size: 2em;
	text-transform: uppercase;
	padding-top: 60px;
}


.items li, .resultMovies{
  margin-bottom: 5px;
  background-color:white;
  color : #db5462;
  border:  1px solid #db5462;
}

.resultMovies{
	margin :2px;
}



.number-label {
	font-size: 1.4em;
}

.card{
	height:auto;
	overflow : auto;
	padding : 10px;
}


.mini-form{
	font-size:0.8em;
	line-height: 0.8em;
}

.mini-table td, .mini-table th{
	font-size:0.8em;
	line-height: 1em;
	padding: 2px 5px;

}

.middle-table td, .middle-table th{
	font-size:0.9em;
	line-height: 1.2em;
	padding: 3px 5px;

}

#about .card{
	height:auto;
	overflow : auto;
}

#logo{
	height:50px;
	position:fixed;
	left:10px;
}

#exoticism .intro{
	margin-top:1em;
	margin-bottom: 2em;
}

.float{
	float : right;
}

/*Materialize black*/
.mblack{
	font-color: rgba(0, 0, 0, 0.87)!important;
}
/*#bar{*/
	/*height:500px;*/
	/*background :red;*/
/*}*/

/*viz mediane*/

.melviz{
	display: inline-block;
	height: 300px;
	width: 95%;
	text-align: center;
}

.d3-tip {
	line-height: 1;
	font-weight: bold;
	padding: 12px;
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
	border-radius: 2px;
	margin-top: 60px;
}

.title-mini{
	font-size: 1.3em;
}

.poster{
	max-height:300px;
}

.img_hover span {
	display : none;
}

.img_hover:hover span {

	display: inline;
	position: absolute;
	white-space: nowrap;
	background: white;
	padding: 3px;
	border: 1px solid black;
	transform: translate(10px,0px);

}

.img_hover span img {
	max-height: 150px;
}

.pagination{
	text-align: center;
}


.pagination .active  {
	background:#db5462!important;
}

.medium-table tbody tr td {
	padding: 10px 5px;
	font-size: 12.5px;
}

.icone_perso {
	transform: translate(0px,7px);
	margin-left: 10px;
}

.color-cartouche{
	border-radius: 3px;
	padding : 20px;
	background: #fff9f9;
	margin-bottom: 10px;
}

.nav-login {
	height: 50px;
	line-height: 50px;
	position: absolute;
  top: 0;
}

.login-wrapper {
	margin-top: 50px;
}
