{% extends 'base.html.twig' %}

{% block body %}
    <section class="container" id="about">
<!--         <h1>Credits</h1>

 -->            
            <article class="card row">
            <div class="col">
                <h2>Crédits / Credits</h2>
                <h3>Direction / Direction </h3>
                <p>Marguerite Chabrol et Pierre-Olivier Toulza</p>
                <h3>Conception de la plate-forme numérique / Design of the digital platform</h3>
                <p>Marguerite Chabrol et Gaétan Darquié</p>
                <h3>Développement / Computing development </h3>
                <p>Gaétan Darquié, Melvin Gault, Tiffany Vachez, Mehdi Bourgeois</p>
                <h3>Conseil et apport technique / Consulting and technical support</h3><p>Mehdi Bourgeois </p> 
                <h3>Comité scientifique international / International scientific committee</h3>
                <p>Marion Carrot, Marguerite Chabrol, Steven Cohan, Todd Decker, Aurélie Ledoux, Adrienne McLean, Karen McNally, Doug Reside, Allison Robbins, Robynn Stilwell, Pierre-Olivier Toulza.</p>
                <h3>Saisie des données / Data entry</h3>
                <p>Todd Anderson, Fanny Beuré, N. T. Binh, Caleb Boyd, Marion Carrot, Marguerite Chabrol, Brenna Cunningham, Todd Decker, Claudia Gutierrez, Isabelle Kalma, Aurélie Ledoux, Grace Maxwell, Ashley Pribyl, Caroline Renouard, Allison Robbins,  Megan Salisbury, Noah Teichner, Jalil Tuggle, Pierre-Olivier Toulza, Alyse Weatherford.</p>
                <h3>Contrats jeunes chercheurs associés / Junior researchers contracts</h3>
                Caleb Boyd, été 2017, Research Assistant (Department of Music, Washington University in St Louis)<br>
                Gaétan Darquié IGR 6 mois en 2015, 5 mois en 2016 et post-doctorat en 2016/2017 (Université Paris 8 / Labex Arts-H2H)<br>
                Marion Carrot IGE 3 mois en 2016 et 5 mois en 2017 (Université Paris 8 / Labex Arts-H2H)<br>
                Isabelle Kalma IGE 4 mois en 2016, 2 mois en 2017 (CERILAC Université Paris Diderot)<br>
                Ashley Pribyl, été 2017, Research Assistant (Department of Music, Washington University in St Louis).<br>
                <p><a href="http://musicalmc2.labex-arts-h2h.fr/fr">http://musicalmc2.labex-arts-h2h.fr/fr</a></p>
            </div>
        </article>
            <article class="card row">
             <h2>Références / References</h2>
             <h3>Pour citer ce site / How to cite this website : </h3>
                <p>[FR] M. Chabrol, G. Darquié, P.-O. Toulza (dir.), Musical MC² [en ligne] http://mc2.labex-arts-h2h.univ-paris8.fr/</p>
                <p>[EN] M. Chabrol, G. Darquié, P.-O. Toulza (eds.), Musical MC² [online] http://mc2.labex-arts-h2h.univ-paris8.fr/</p>
                <h3>Dépôt du code / Source code repository</h3>
                <p>Le code de l'application est open source, il est disponible à l'adresse suivante : <a href="http://github.com/Labex-Arts-h2h/musical-mc2">lien vers le dépôt</a></p>
            </article>

    </section>
{% endblock %}