{% extends 'base.html.twig' %}

{% block body %}
    <section class="container" id="about">
            <article class="card row">
            <div class="col12">
              <h1>Crédits / <i>Credits</i></h1>

            <iframe style="margin:0 auto; width:100%; height:900px" src="https://docs.google.com/document/d/e/2PACX-1vT0s2rnwbuDNoIju0u2sYhuU23WAvSih0JjutzAPhFXBcotFOanuMCFxCR0kgdmSE3xMKUE8GF7zxSk/pub?embedded=true"></iframe>

              <h3>Dépôt du code / Source code repository</h3>
            Le code de l'application est open source, il est disponible à l'adresse suivante :  <a href="https://github.com/Labex-Arts-h2h/musical-mc2">lien vers le dépôt</a>
            </div>
        </article>


    </section>
{% endblock %}
