{% extends 'base.html.twig' %}

{% block body %}
    <section class="container" id="about">
            <article class="card row">
            <div class="col12">
            <a href="content">Pour les contenus, suivre ce lien / About the contents of the database, follow this link</a>
              <h1>Crédits / Credits</h1>
              <h3>✦ Phase 1 (2015-2017) : développement du prototype / prototype development</h3>
              Projet <a href="http://musicalmc2.labex-arts-h2h.fr/fr">Musical MC²</a> (Le film musical hollywoodien en contexte médiatique et culturel) & <a href="http://labex-arts-h2h.fr">Labex Arts-H2H</a>
            <iframe style="margin:0 auto; width:100%; height:900px" src="https://docs.google.com/document/d/e/2PACX-1vT0s2rnwbuDNoIju0u2sYhuU23WAvSih0JjutzAPhFXBcotFOanuMCFxCR0kgdmSE3xMKUE8GF7zxSk/pub?embedded=true"></iframe>

              <h3>Dépôt du code / Source code repository</h3>
            Le code de l'application est open source, il est disponible à l'adresse suivante :  <a href="https://github.com/Labex-Arts-h2h/musical-mc2">lien vers le dépôt</a>
            </div>
        </article>


    </section>
{% endblock %}
