{% extends 'base.html.twig' %}

{% block body %}
    <section class="container" id="about">
            <article class="card row">
            <div class="col12">
            <iframe style="margin:0 auto; width:100%; height:900px" src="https://docs.google.com/document/d/e/2PACX-1vT0s2rnwbuDNoIju0u2sYhuU23WAvSih0JjutzAPhFXBcotFOanuMCFxCR0kgdmSE3xMKUE8GF7zxSk/pub?embedded=true"></iframe>
            </div>
        </article>


    </section>
{% endblock %}
