{% extends 'base.html.twig' %}

{% block body %}
    <section class="container" id="about">
<!--         <h1>Credits</h1>

 -->
            <article class="card row">
            <div class="col12">


              <iframe style="margin:0 auto; width:100%; height:900px" src="https://docs.google.com/document/d/1suUNwjvw15U7v-pDzeT-8T0KRIt9i6CF2iqib3A19yM"></iframe>

            </div>
        </article>


    </section>
{% endblock %}
