{% extends 'base.html.twig' %}

{% block body %}
    <section class="container" id="about">
<!--         <h1>Credits</h1>

 -->
            <article class="card row">
            <div class="col12">


<iframe style="margin:0 auto; width:100%; height:900px" src="https://docs.google.com/document/d/e/2PACX-1vT_6FY4KYRgGlP928dwcM9Q-3c55MtHxKeIiXpyBrnEfa8NkT2WroSdVUSGwWHgf1d18H6yMVUafMux/pub?embedded=true"></iframe>
            </div>
        </article>


    </section>
{% endblock %}
